.sideBarWrap {
  background: #3ce138;
  color: white;
  display: flex;
  padding-left: 30px;
  left: -272px;
  transition: all 0.5s cubic-bezier(0.01, 0, 1, 1.1);
  position: fixed;
  height: 100vh;
}
.activeSideBarWrap {
  background: #3ce138;
  color: white;
  display: flex;
  padding-left: 10px;
  transition: all 0.5s cubic-bezier(0.01, 0, 1, 1.1);
  position: absolute;
  width: 250px;
  left: 0px;
  height: 100vh;
}
.activeSideBar {
  background: #3ce138;
  color: white;
  display: flex;
  padding-left: 30px;
  left: 0px;
  transition: all 0.5s cubic-bezier(0.01, 0, 1, 1.1);
}
.sideBarLeft {
  width: 230px;
  transition: all 0.5s cubic-bezier(0.01, 0, 1, 1.1);
  position: fixed;
  height: 100vh;
}
.showToolTip {
  position: relative;
}
.showToolTip:hover .toolTip {
  display: block;
  transition: all 0.5s cubic-bezier(0.11, -0.04, 0.96, 1.06);
  z-index: 9999999999 !important;
}

.toolTip {
  background: #3ce138;
  width: 146px;
  padding: 5px;
  left: 40px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  top: 0px;
  transition: all 0.5s cubic-bezier(0.11, -0.04, 0.96, 1.06);
  font-size: 12px;
  z-index: 9999999999 !important;
  position: absolute;
  display: none;
}
.dashboardIcon:hover .show {
  display: block;
}
.AccordionWrap {
  background: #3ce138 !important;
  max-width: 217px;
  border: 0px !important;
  border: none !important;
  box-sizing: none;
}
.expandIcon,
.checkIcon {
  color: #fff !important;
}
.checkIcon {
  font-size: 18px !important;
  margin-right: 5px;
}
.typograpy {
  font-size: 13px !important;
  margin-bottom: 8px !important;
  cursor: pointer;
}
.typograpy div {
  cursor: pointer;
}

.bar {
  background: #3ce138;
  padding: 0px !important;
  text-align: left !important;
  width: 49px;
  top: 15px;
  height: 46px;
  line-height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 21px;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  transition: all 0.5s linear(-0.47 -53.68%, 1 100%);
  position: relative;
  left: 45px;
}
.bar div {
  position: relative;
}
.bar span {
  width: 30px;
  height: 2px;
  background: #fff;
  margin-bottom: 3px;
  display: block;
  transition: all 0.5s linear(-0.47 -53.68%, 1 100%);
}
.bar1 {
  transform: rotate(-45deg);
  position: absolute;
  top: -2px;
  left: -12px;
  transition: all 0.5s linear(-0.47 -53.68%, 1 100%);
}
.bar2 {
  display: none;
  position: absolute !important;
  display: none !important;
  transition: all 0.5s linear(-0.47 -53.68%, 1 100%);
}
.bar3 {
  transform: rotate(45deg);
  position: absolute;
  top: -2px;
  right: -18px;
  transition: all 0.5s linear(-0.47 -53.68%, 1 100%);
}
.iconWrap {
  background: #3ce138;
  margin-top: 80px;
  position: relative;
  left: 32px;
}
.iconWrap div {
  margin-bottom: 16px;
}
.invoiceType {
  background: #2dd12985;
  padding: 2px 0px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
